//im super ashamed of myself.

.nosImg {
  border: 1px solid gray;
  border-radius: 8px;
  
}

nav a img {
  width: 2rem;
  height: auto;
}

.form-check-input:checked {
    background-color: red;
}

.text-price {
  font-size: 22px;
}