.icon__center{
  display: flex;
  justify-content: center;
}

.testimony__icon{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  align-content: center;
  align-self: center;
  
  &--img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}